:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font: 500 1.6rem Poppins;
}

.container {
  width: 90vw;
  max-width: 70vw;
}

.form-items {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}